<h3 style="color: rgb(146, 21, 146);">Data-Binding </h3><br>

<h4>1. Interpollution/String binding </h4>
<h5>My name is:{{name}}</h5><br>
<h4>2. Attribute/Property binding []</h4>
<h5>For more information : <a [href]="link">Click here</a></h5><br>
<h4>3. Event binding</h4>
<button class="btn btn-primary" (click)="detailedinformation()">Details</button><br><br>
<h3>4.  two-way binding</h3>
<h4>Known Languages are:{{lang}}</h4>
<h4>In terms of form:language is:<input type="text" name="lang" [(ngModel)]="lang">
</h4>